<div class="container-sm">
    <h1>Your Cart</h1>

    <mat-card>
        <mat-list>
            <mat-list-item *ngFor="let item of cartItems">
                <span matListItemTitle>{{item.name}}</span>
                <span matListItemLine>{{item.price | currency: 'USD'}}</span>
            </mat-list-item>

            <mat-list-item>
                <span class="price" matListItemTitle>Total Price</span>
                <span class="price" matListItemLine>{{totalPrice | currency: 'USD'}}</span>
            </mat-list-item>

            <!-- <mat-list-item class="button-container">
                <button (click)="clearCart()" mat-flat-button color="primary">Clear</button>
                <button (click)="clearCart()" mat-raised-button color="accent">Checkout</button>
            </mat-list-item> -->
        </mat-list>
    </mat-card>
</div>